<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--project-name</key>
	<string>MobileAppTracker</string>
	<key>--project-company</key>
	<string>HasOffers Inc</string>
	<key>--project-version</key>
	<string>3.3</string>
	<key>--company-id</key>
	<string>com.hasoffers</string>
	<key>--output</key>
	<string>./docs</string>
	<key>--create-docset</key>
	<true/>
	<key>--install-docset</key>
	<false/>
	<key>--publish-docset</key>
	<true/>
	<key>--create-html</key>
	<true/>
	<key>--prefix-merged-sections</key>
	<true/>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--print-settings</key>
	<true/>
	<key>--verbose</key>
	<string>4</string>
	<key>--no-repeat-first-par</key>
	<true/>
	<key>--docset-atom-filename</key>
	<string>sdk_ios.atom</string>
	<key>--docset-package-filename</key>
	<string>Xar</string>
	<key>--docset-feed-url</key>
	<string>https://s3.amazonaws.com/mat_sdk/sdk-ios/documentation/%DOCSETATOMFILENAME</string>
	<key>--docset-package-url</key>
	<string>https://api.mobileapptracking.com/v1/Advertiser/Sites/Sdks/%DOCSETPACKAGEFILENAME</string>
	<key>--docset-fallback-url</key>
	<string>https://api.mobileapptracking.com/v1/Advertiser/Sites/Sdks</string>
	<key>--warn-undocumented-member</key>
	<false/>
	<key>--exit-threshold</key>
	<integer>2</integer>
</dict>
</plist>
