<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MobileAppTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MobileAppTracker30.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F58A7D715C8B47C00C8D2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5DAB2715C9948C00E68DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5DAB4315C99CCA00E68DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5DABB315C9C93C00E68DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5DABD615C9CEE100E68DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5DABF115C9CFAA00E68DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F90171515C843A2001DFAF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F90176C15C8463A001DFAF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FDFA18115C700D300BEEC38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FDFA23C15C710AA00BEEC38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
